body {
    background-color: transparent;
  }
  
  .container {
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
    text-align: center;
    padding: 50px 200px 50px 200px;
    display: inline-block;
    justify-content: center;
  }
  
  .navbar {
    display: block;
    padding-left: 200px;
    padding-right: 200px;
    display: -webkit-flex;
    justify-content: center;
  }
  
  
  .jumbotron {
    background-color: rgb(232, 252, 228);
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
    display: -webkit-flex;
    justify-content: center;
    background-image: url(../images/kelvin.png);
    background-repeat: no-repeat;
  }
  
  h3 {
    font-size: 40px;
    margin-left: 100px;
  }
  
  p {
    font-size: 25px;
    text-align: justify;
    margin-left: 100px;
    padding: 15px;
  }
   img {
    border-radius: 50%;
    width: 50%;
    height: auto;

  }
  
  .underline {
    text-decoration: underline;
  }
  
  li {
    font-size: 25px;
    list-style-position: inside;
    text-align: justify;
  }
  
  ol li {
    margin-left: auto;
    margin-right: auto;
    margin-left: 60px;
    padding: 10px;
  }
  